
body {
    background-image: url("clu-soh-5wxWp2wVwQc-unsplash\ \(1\).jpg");
  background-size:cover;
    
  }

.nav-button-colors {
    background-color: gray;
    color: whitesmoke;
}

.list-group{
    display:inline-block;
        position:fixed;
        bottom: 0;
        color:gray;
        background-color: black;
        
}



    